// global grid map
$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
);

.l-container{
  @include container( $above-wide );
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint($above-stacked, '.old-ie'){
    padding-left: 30px;
    padding-right: 30px;
  }
  @include breakpoint($above-wide-plus){
    padding-left: 0;
    padding-right: 0;
  }
  &.no-pad{
    padding-left:0;
    padding-right: 0;
  }
  &.skinny{
    @include container( $above-normal );
  }
}
.l-col-wrap{
  margin: 36px 0;
}

.l-one-third{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(4);
    &:nth-child(3n+3){
      @include span(4 last);
    }
    &.l-last{
      @include span(4 last);
    }
    &:nth-child(4n+4){
      clear:both;
    }
  }
  &.pad{
      padding-bottom: 40px;
      @include breakpoint($above-stacked, '.old-ie'){
      padding-bottom: 80px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.l-one-half{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(6);
    &.l-last{
      @include span(6 last);
    }
  }
}
.l-one-fifth{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(1 of 5 .125);
    &.l-last{
      @include span(1 of 5 .125 last);
    }
  }
}

.l-two-thirds{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(8);
    &.l-last{
      @include span(8 last);
    }
  }
}
.l-one-quarter{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(3);
    &.l-last,
    &:nth-child(4n+4){
      @include span(3 last);
    }
    &:nth-child(4n+5){
      clear:both;
    }
  }
}
.l-news{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(5);
  }
}
.l-features{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(7 last);
  }
}
.l-three-quarters{
  @include breakpoint($above-stacked, '.old-ie'){
    @include span(9);
    &.l-last{
      @include span(9 last);
    }
  }
}
