.phone{
	@include font-size(1.6);
	font-style: italic;

	.big{
		@include font-size(3.2);
		font-style:normal;
	}
}

.home-callout{
    background-color: mix(white, $body-bg, 40%);
}
.home-callout-pad{
    padding-top: 20px;
    padding-bottom: 0px;
    @include breakpoint($above-stacked, '.old-ie'){
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }
    @include breakpoint($above-skinny, '.old-ie'){
        padding-top: 30px;
        padding-bottom: 10px;
    }
    @include breakpoint($above-wide){
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.zoom{
    overflow: hidden;
    background-color: $brown;
    position: relative;
    margin:0 auto 20px;
    max-width: 360px;
    border-radius: 10px;
    color: $tint;
    //webkit bug fix to get overflow to recognize border radius
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    img{
	    transition: all 0.4s ease;
	    transform: translate3d(0,  0,  0);
	    backface-visibility: hidden;
	    opacity: 0.5;
	    display: block;
	    margin:0;
        border-radius: 10px;
    }
    &:hover{
        img{
            opacity: 0.8;
            transform: scale(1.1,  1.1);
        }
    }
    .right,
    .left{
    	position: absolute;
    	top: 10%;
    	right: 0;
    	padding: 10px 20px;
    	color: #fff;
    	@extend %overlay-dark;
    	z-index: 1;
        border-radius: 10px 0 0 10px;
    }
    .left{
    	right: auto;
    	left: 0;
    	top:auto;
    	bottom: 10%;
        border-radius: 0 10px 10px 0;
    }
}

.well{
	a{
		color: $primary-color;
		&:hover{
			color: shade($primary-color, 20%);
		}
	}
}

.post-wrap{
    margin-bottom: 3em;
}