.l-header{
	padding:0;
	background-color: darken($primary-color, 5%);
	.l-container{position:relative;}
}

.main-logo{
	display:block;
	width: 300px;
	margin: 10px;
  padding-top: 8px;
	float:left;
	@include breakpoint($above-normal, '.old-ie'){
		width: 340px;
	}
  img {
    display: block;
  }
}
.masthead-phone{
	text-align:right;
	padding-top: 20px;
	h1, h2, h3, h4, h5, h6, p, li, a{
		color: $tint;
		line-height: 1.2;
		margin:0;
	}
	a:hover, a:active{
		color: $tint;
	}
	p{
		@include font-size(1.6);
	}
}
.item{
	position:relative;
	picture, img{
		display:block;
	}
}
.home-caption{
	position: absolute;
	bottom: 20%;
	right: -10%;
	line-height: 1;
	opacity: 0;
	transition: all 2s ease;
	z-index: 150;
	//@include font-size(5.4);
	color: $tint;
	&.alt1{ right: auto;left: -5%; bottom: auto;top: 20%;}
	&.alt2{ bottom: auto; top: 10%;}
}
.slick-active{
	.home-caption{
		opacity: 1;
		right: 5%;
		&.alt1{left: 10%;}
		&.alt2{}
	}

}


.mobile-masthead{
	display:block;
	@include clearfix();
	@include breakpoint($above-stacked, '.old-ie'){
		display:none;
	}
	.mobile-logo{
		width: 170px;
    	float: right;
    	padding: 10px 10px 0 0;
	}

}
.sub-mast{
	background-color: mix($body-bg, $primary-color, 50%);
	img{display:block;}
}

.home-carousel {
  .srv-icon-clear {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 11;
  }
}
