{% extends "base.html" %}

{% block content %}
      {{ block.super }}


    <form id="contact" action="/404/" method="post" class="form-horizontal">
            {% csrf_token %}
<input name="to" type="hidden" value="a8473f64-5676-43a4-a155-1d74bc5c01ca" />
<input type="hidden" name="redirect" value="/success" />
        <p class="nojs"><em>Note: Please enable Javascript to use this contact form. <a href="http://support.microsoft.com/gp/howtoscript">Learn how here.</a></em></p>








    <div id="div_id_your_name" class="form-group  ">


            <label for="id_your_name" class="control-label required-field ">
                Your name
            </label>

                <div class="">
                    <input class="charfield required form-control" id="id_your_name" maxlength="2000" name="your_name" required="" type="text" />
                </div>
    </div>

    <div id="div_id_e_mail_address" class="form-group  ">
            <label for="id_e_mail_address" class="control-label required-field ">
                E-mail address
            </label>
                <div class="">
                    <input class="emailfield required form-control" id="id_e_mail_address" maxlength="2000" name="e_mail_address" required="" type="email" />
                </div>
    </div>
    <div id="div_id_phone_number" class="form-group  ">


            <label for="id_phone_number" class="control-label  ">
                Phone Number
            </label>






                <div class="">
                    <input class="charfield form-control" id="id_phone_number" maxlength="2000" name="phone_number" type="text" />


                </div>


    </div>

    <div id="div_id_message" class="form-group  ">


            <label for="id_message" class="control-label  ">
                Message
            </label>






                <div class="">
                    <textarea class="charfield form-control" cols="40" id="id_message" maxlength="2000" name="message" rows="10">
</textarea>


                </div>


    </div>




        <div class="form-actions">
            <input type="submit" value="Submit" class="button" />
        </div>
    </form>

{% endblock content %}
