{% extends "base.html" %}
{% block bodyclass %}home{% endblock %}

{% block carousel %}
      <section class="home-carousel">

        <div class="carousel">
    {% page_list "Masthead_Gallery" %}
    {% list_item "image" type="img" %}
    <div class="item">
        <img src="{% imgix_url list_item.image %}?w=1410&h=600&fit=crop" alt="{{ list_item.title }}">
    </div>
    {% end_list %}
    </div>
    </section>
{% endblock carousel %}

{% block undernav %}
{% endblock undernav %}
