$button-bg-color: $primary-color;
$button-color: #fff;
$button-border: 0 none;
$button-border-radius:  8px;
$button-hover-background: shade($button-bg-color, 15%);
$button-padding: 10px 20px;
$button-margin: 15px 10px 0 0;
$button-font-weight:300;

$button-subdued-bg-color: $text-color;
$button-subdued-color: #fff;
$button-subdued-border: 1px solid $button-subdued-bg-color;
$button-subdued-border-hover: 1px solid $primary-color;
$button-subdued-hover-background: $primary-color;

input[type="submit"],
button,
.btn{
  background-color: $button-bg-color;
  color: $button-color;
  border: $button-border;
  border-radius: $button-border-radius;
  padding: $button-padding;
  margin: $button-margin;
  font-weight: $button-font-weight;
  @include font-size(1.8);
  display:inline-block;
  vertical-align: middle;
  &:hover{
    background-color: $button-hover-background;
    color: $button-color;
    text-decoration: none;
  }
  &.subdued{
    background-color: $button-subdued-bg-color;
    color: $button-subdued-color;
    border: $button-subdued-border;
    &:hover{
      background-color: $button-subdued-hover-background;
      border: $button-subdued-border-hover;
    }
  }
  &.block{display:block;}
}