// This is how you override the global grid
// @include span(4 of 24 1/8);

// breakpoint variables
$above-stacked: 690px;
$above-skinny: 767px;
$above-normal: 985px;
$above-normal-plus: 1100px;
$above-wide: 1400px;
$above-wide-plus: 1460px;

$above-stacked-only: $above-stacked $above-skinny - 1;
$skinny-only: $above-skinny $above-normal - 1;
$normal-only: $above-normal $above-wide - 1;

// This is how no-media-queries works in breakpoint.
// When you want the selector to apply to old-ie, use this.
// @include breakpoint($above-stacked, $no-query: '.old-ie'){}


//colors



$red: #741919;
$blue: #0181c0;
$beige: #e4e0cf;
$brown: #513527;
$green: #035348;
$tint: $beige;
$shade: #0a280b;


%overlay-dark{
	background-color: $brown;
	background-color: rgba($brown, 0.8);
}
//mix($tint, $primary-color, 60%)

//color keywords
$primary-color: $green;
$secondary-color: $green;
$text-color: #3e3d38;
$link-color: $primary-color;

//global styles
$body-bg: $tint;
$selection-color: $tint;
$selection-bg: $primary-color;

$well-bg: mix($shade, $body-bg, 10%);
$well-border: $well-bg;
$well-padding: 10px;

//type and important global styles
$base-font-size: 1.6;
$base-line-height: 1.6;
$base-font-family: 	"adobe-garamond-pro", serif;
$paragraph-font-weight: 400; //400 and 700 are also installed
$paragraph-font-size: 2.2; //this uses the rem-calc mixin
$small-paragraph-font-size: 1.4;

$alt-font-family: $base-font-family;
$header-font-family: $base-font-family;
$header-font-weight: 400;
$header-line-height: $base-line-height * 0.8;
$header-color: $primary-color;
$header-link-color: $link-color;
$header-link-color-hover: mix($shade, $header-link-color, 30%);
$header-link-color-active: mix($shade, $header-link-color-hover, 30%);
