@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.zoom .right,
.zoom .left {
  background-color: #513527;
  background-color: rgba(81, 53, 39, 0.8); }

html, body {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

.float-right {
  float: right;
  margin: 0 0 20px 20px; }

.float-left {
  float: left;
  margin: 0 20px 20px 0; }

.pos-rel {
  position: relative; }

.text-center {
  text-align: center; }

.no-margin {
  margin: 0; }

.v-pad {
  padding: 1em 0; }
  @media (min-width: 690px) {
    .v-pad {
      padding: 3em 0; } }

.pad-right {
  padding-right: 0; }
  @media (min-width: 690px) {
    .pad-right {
      padding-right: 30px; } }

.old-ie .l-header, .old-ie .l-footer, .old-ie .l-sidebar, .old-ie .l-main-nav-block, .old-ie .l-main-content-wrap {
  display: block; }

.mobile-only {
  display: block; }
  @media (min-width: 690px) {
    .mobile-only {
      display: none; } }

.hide-mobile {
  display: none; }
  @media (min-width: 690px) {
    .hide-mobile {
      display: block; } }

.vimeo-player {
  width: 100%; }
  @media (min-width: 690px) {
    .vimeo-player {
      float: right;
      margin: 0 -50% 10px 20px; } }

@media (min-width: 690px) {
  .vimeo-secondary {
    width: 50%;
    float: right;
    margin: 0 -50% 40px 30px;
    clear: both; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

hr {
  border-width: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin: 1em 0;
  clear: both; }
  hr:after {
    content: "";
    display: table;
    clear: both; }

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */ }

.sidebar-img {
  margin-bottom: 2em; }

.video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-bottom: 20px; }
  .video-wrap iframe, .video-wrap object, .video-wrap embed {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    position: absolute; }

table {
  width: 100%; }
  table td, table tr {
    vertical-align: top; }

.fb-page, .fb-page iframe[style], .fb-page span {
  width: 100% !important; }

figure {
  padding: 0;
  margin: 0; }

::-moz-selection {
  color: #e4e0cf;
  background: #035348; }

::selection {
  color: #e4e0cf;
  background: #035348; }

body {
  background: #e4e0cf; }

blockquote {
  quotes: "“" "”" "‘" "’"; }
  blockquote p {
    display: inline; }
    blockquote p:before {
      content: "\201C"; }
    blockquote p:after {
      content: "\201D"; }
  blockquote cite {
    display: block;
    color: #807e74;
    font-size: 0.8em;
    font-style: italic; }
    blockquote cite:before {
      content: "\2014  "; }

table {
  width: 100%; }
  table tr:nth-child(odd) td {
    background-color: #d9d7c5; }
  table td {
    width: 50%;
    padding: 4px; }

.module table td {
  width: auto; }

input[type="submit"],
button,
.btn {
  background-color: #035348;
  color: #fff;
  border: 0 none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 15px 10px 0 0;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: middle; }
  input[type="submit"]:hover,
  button:hover,
  .btn:hover {
    background-color: #044d3f;
    color: #fff;
    text-decoration: none; }
  input[type="submit"].subdued,
  button.subdued,
  .btn.subdued {
    background-color: #3e3d38;
    color: #fff;
    border: 1px solid #3e3d38; }
    input[type="submit"].subdued:hover,
    button.subdued:hover,
    .btn.subdued:hover {
      background-color: #035348;
      border: 1px solid #035348; }
  input[type="submit"].block,
  button.block,
  .btn.block {
    display: block; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

label {
  display: inline-block;
  max-width: 100%;
  margin: 15px 0 5px 0;
  font-weight: normal; }
  label.required-field {
    font-weight: bold; }
    label.required-field:after {
      content: " *"; }

.radio,
.checkbox {
  display: inline-block;
  margin: 0 30px 0 0; }
  .radio label,
  .checkbox label {
    font-weight: normal; }

input[type="search"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.42857143;
  color: #3e3d38;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
  border-color: #929b92; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #035348;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(3, 83, 72, 0.6); }

textarea {
  height: 200px; }

.input-group {
  display: table;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-collapse: separate; }
  .input-group input {
    display: table-cell;
    height: 28px; }
  .input-group .btn-wrap {
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 1px; }
    .input-group .btn-wrap button {
      padding: 3px 10px;
      height: 28px;
      margin: 0;
      font-size: 24px;
      font-size: 2.4rem;
      vertical-align: top; }

body {
  font-family: "adobe-garamond-pro", serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #3e3d38; }

p, li, div, table {
  font-size: 22px;
  font-size: 2.2rem; }
  .small p, .small li, .small div, .small table {
    font-family: "adobe-garamond-pro", serif;
    font-size: 14px;
    font-size: 1.4rem; }

p {
  margin: 0 0 1em 0; }

.intro {
  font-family: "adobe-garamond-pro", serif; }

b,
strong {
  font-weight: 600; }

.bordered-head {
  position: relative;
  text-align: center;
  font-style: italic; }
  .bordered-head .text-wrap {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 12; }
  .bordered-head:after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 2px solid #749a8c;
    left: 0;
    right: 0;
    z-index: 10; }

small,
.small {
  font-size: 0.8em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  line-height: 1.28;
  color: #035348;
  margin: 0 0 0.25em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #035348; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #054636;
      text-decoration: none; }
    h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
      color: #073d29; }

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 1em; }

.home-section-head {
  background: #035348;
  padding: 10px;
  color: #fff;
  margin-bottom: 0; }
  .home-section-head.bleed {
    margin: -10px -10px 0 -10px; }

p, li, div, table, label, input, button {
  font-size: 19.8px;
  font-size: 1.98rem; }

.big {
  font-size: 23.76px;
  font-size: 2.376rem; }

h1 {
  font-size: 43.56px;
  font-size: 4.356rem; }

h2 {
  font-size: 39.6px;
  font-size: 3.96rem; }

h3 {
  font-size: 35.64px;
  font-size: 3.564rem; }

h4 {
  font-size: 31.68px;
  font-size: 3.168rem; }

h5 {
  font-size: 25.74px;
  font-size: 2.574rem; }

h6 {
  font-size: 19.8px;
  font-size: 1.98rem; }

@media (min-width: 985px) {
  p, li, div, table, label, input, button {
    font-size: 22px;
    font-size: 2.2rem; }
  .big {
    font-size: 26.4px;
    font-size: 2.64rem; }
  h1 {
    font-size: 48.4px;
    font-size: 4.84rem; }
  h2 {
    font-size: 44px;
    font-size: 4.4rem; }
  h3 {
    font-size: 39.6px;
    font-size: 3.96rem; }
  h4 {
    font-size: 35.2px;
    font-size: 3.52rem; }
  h5 {
    font-size: 28.6px;
    font-size: 2.86rem; }
  h6 {
    font-size: 22px;
    font-size: 2.2rem; } }

.old-ie p, .old-ie li, .old-ie div, .old-ie table, .old-ie label, .old-ie input, .old-ie button {
  font-size: 19.8px;
  font-size: 1.98rem; }

.old-ie .big {
  font-size: 23.76px;
  font-size: 2.376rem; }

.old-ie h1 {
  font-size: 43.56px;
  font-size: 4.356rem; }

.old-ie h2 {
  font-size: 39.6px;
  font-size: 3.96rem; }

.old-ie h3 {
  font-size: 35.64px;
  font-size: 3.564rem; }

.old-ie h4 {
  font-size: 31.68px;
  font-size: 3.168rem; }

.old-ie h5 {
  font-size: 25.74px;
  font-size: 2.574rem; }

.old-ie h6 {
  font-size: 19.8px;
  font-size: 1.98rem; }

a {
  color: #035348;
  text-decoration: underline;
  cursor: pointer; }
  a:hover {
    color: #044d3f;
    text-decoration: none; }
  a.hover-only,
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
    a.hover-only:hover,
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: none; }
  .social-wrap a,
  .sf-menu a, a.main-logo, a.frontendadmin,
  .thumbnails a,
  .redactor-toolbar a,
  #redactor-modal a, a.btn,
  .tab-nav a,
  .mobile-nav a,
  .redactor-dropdown a, a.open-panel-wrap__logo, a.open-panel,
  .fancybox-overlay a,
  .zoom a {
    text-decoration: none; }
    .social-wrap a:hover,
    .sf-menu a:hover, a.main-logo:hover, a.frontendadmin:hover,
    .thumbnails a:hover,
    .redactor-toolbar a:hover,
    #redactor-modal a:hover, a.btn:hover,
    .tab-nav a:hover,
    .mobile-nav a:hover,
    .redactor-dropdown a:hover, a.open-panel-wrap__logo:hover, a.open-panel:hover,
    .fancybox-overlay a:hover,
    .zoom a:hover {
      text-decoration: none; }

.l-main {
  padding: 30px 0; }
  @media (min-width: 690px) {
    .l-main {
      padding: 80px 0; } }
  .old-ie .l-main {
    padding: 80px 0; }

.subpage-top-info {
  text-align: right;
  color: #fff;
  padding-top: 1em; }
  .subpage-top-info i {
    font-size: 18px;
    font-size: 1.8rem; }
  .subpage-top-info a {
    font-size: 32px;
    font-size: 3.2rem;
    color: #fff; }
    .subpage-top-info a:hover {
      color: #fff; }

.l-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .l-container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 690px) {
    .l-container {
      padding-left: 30px;
      padding-right: 30px; } }
  .old-ie .l-container {
    padding-left: 30px;
    padding-right: 30px; }
  @media (min-width: 1460px) {
    .l-container {
      padding-left: 0;
      padding-right: 0; } }
  .l-container.no-pad {
    padding-left: 0;
    padding-right: 0; }
  .l-container.skinny {
    max-width: 985px;
    margin-left: auto;
    margin-right: auto; }
    .l-container.skinny:after {
      content: " ";
      display: block;
      clear: both; }

.l-col-wrap {
  margin: 36px 0; }

@media (min-width: 690px) {
  .l-one-third {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; }
    .l-one-third:nth-child(3n+3) {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
    .l-one-third.l-last {
      width: 32.2033898305%;
      float: right;
      margin-right: 0; }
    .l-one-third:nth-child(4n+4) {
      clear: both; } }

.old-ie .l-one-third {
  width: 32.2033898305%;
  float: left;
  margin-right: 1.6949152542%; }
  .old-ie .l-one-third:nth-child(3n+3) {
    width: 32.2033898305%;
    float: right;
    margin-right: 0; }
  .old-ie .l-one-third.l-last {
    width: 32.2033898305%;
    float: right;
    margin-right: 0; }
  .old-ie .l-one-third:nth-child(4n+4) {
    clear: both; }

.l-one-third.pad {
  padding-bottom: 40px; }
  @media (min-width: 690px) {
    .l-one-third.pad {
      padding-bottom: 80px;
      padding-left: 10px;
      padding-right: 10px; } }
  .old-ie .l-one-third.pad {
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px; }

@media (min-width: 690px) {
  .l-one-half {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
    .l-one-half.l-last {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; } }

.old-ie .l-one-half {
  width: 49.1525423729%;
  float: left;
  margin-right: 1.6949152542%; }
  .old-ie .l-one-half.l-last {
    width: 49.1525423729%;
    float: right;
    margin-right: 0; }

@media (min-width: 690px) {
  .l-one-fifth {
    width: 18.1818181818%;
    float: left;
    margin-right: 2.2727272727%; }
    .l-one-fifth.l-last {
      width: 18.1818181818%;
      float: right;
      margin-right: 0; } }

.old-ie .l-one-fifth {
  width: 18.1818181818%;
  float: left;
  margin-right: 2.2727272727%; }
  .old-ie .l-one-fifth.l-last {
    width: 18.1818181818%;
    float: right;
    margin-right: 0; }

@media (min-width: 690px) {
  .l-two-thirds {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%; }
    .l-two-thirds.l-last {
      width: 66.1016949153%;
      float: right;
      margin-right: 0; } }

.old-ie .l-two-thirds {
  width: 66.1016949153%;
  float: left;
  margin-right: 1.6949152542%; }
  .old-ie .l-two-thirds.l-last {
    width: 66.1016949153%;
    float: right;
    margin-right: 0; }

@media (min-width: 690px) {
  .l-one-quarter {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; }
    .l-one-quarter.l-last, .l-one-quarter:nth-child(4n+4) {
      width: 23.7288135593%;
      float: right;
      margin-right: 0; }
    .l-one-quarter:nth-child(4n+5) {
      clear: both; } }

.old-ie .l-one-quarter {
  width: 23.7288135593%;
  float: left;
  margin-right: 1.6949152542%; }
  .old-ie .l-one-quarter.l-last, .old-ie .l-one-quarter:nth-child(4n+4) {
    width: 23.7288135593%;
    float: right;
    margin-right: 0; }
  .old-ie .l-one-quarter:nth-child(4n+5) {
    clear: both; }

@media (min-width: 690px) {
  .l-news {
    width: 40.6779661017%;
    float: left;
    margin-right: 1.6949152542%; } }

.old-ie .l-news {
  width: 40.6779661017%;
  float: left;
  margin-right: 1.6949152542%; }

@media (min-width: 690px) {
  .l-features {
    width: 57.6271186441%;
    float: right;
    margin-right: 0; } }

.old-ie .l-features {
  width: 57.6271186441%;
  float: right;
  margin-right: 0; }

@media (min-width: 690px) {
  .l-three-quarters {
    width: 74.5762711864%;
    float: left;
    margin-right: 1.6949152542%; }
    .l-three-quarters.l-last {
      width: 74.5762711864%;
      float: right;
      margin-right: 0; } }

.old-ie .l-three-quarters {
  width: 74.5762711864%;
  float: left;
  margin-right: 1.6949152542%; }
  .old-ie .l-three-quarters.l-last {
    width: 74.5762711864%;
    float: right;
    margin-right: 0; }

.l-header {
  padding: 0;
  background-color: #023a33; }
  .l-header .l-container {
    position: relative; }

.main-logo {
  display: block;
  width: 300px;
  margin: 10px;
  padding-top: 8px;
  float: left; }
  @media (min-width: 985px) {
    .main-logo {
      width: 340px; } }
  .old-ie .main-logo {
    width: 340px; }
  .main-logo img {
    display: block; }

.masthead-phone {
  text-align: right;
  padding-top: 20px; }
  .masthead-phone h1, .masthead-phone h2, .masthead-phone h3, .masthead-phone h4, .masthead-phone h5, .masthead-phone h6, .masthead-phone p, .masthead-phone li, .masthead-phone a {
    color: #e4e0cf;
    line-height: 1.2;
    margin: 0; }
  .masthead-phone a:hover, .masthead-phone a:active {
    color: #e4e0cf; }
  .masthead-phone p {
    font-size: 16px;
    font-size: 1.6rem; }

.item {
  position: relative; }
  .item picture, .item img {
    display: block; }

.home-caption {
  position: absolute;
  bottom: 20%;
  right: -10%;
  line-height: 1;
  opacity: 0;
  transition: all 2s ease;
  z-index: 150;
  color: #e4e0cf; }
  .home-caption.alt1 {
    right: auto;
    left: -5%;
    bottom: auto;
    top: 20%; }
  .home-caption.alt2 {
    bottom: auto;
    top: 10%; }

.slick-active .home-caption {
  opacity: 1;
  right: 5%; }
  .slick-active .home-caption.alt1 {
    left: 10%; }

.mobile-masthead {
  display: block; }
  .mobile-masthead:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 690px) {
    .mobile-masthead {
      display: none; } }
  .old-ie .mobile-masthead {
    display: none; }
  .mobile-masthead .mobile-logo {
    width: 170px;
    float: right;
    padding: 10px 10px 0 0; }

.sub-mast {
  background-color: #749a8c; }
  .sub-mast img {
    display: block; }

.home-carousel .srv-icon-clear {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 11; }

.phone {
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic; }
  .phone .big {
    font-size: 32px;
    font-size: 3.2rem;
    font-style: normal; }

.home-callout {
  background-color: #efece2; }

.home-callout-pad {
  padding-top: 20px;
  padding-bottom: 0px; }
  @media (min-width: 690px) {
    .home-callout-pad {
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 40px; } }
  .old-ie .home-callout-pad {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 40px; }
  @media (min-width: 767px) {
    .home-callout-pad {
      padding-top: 30px;
      padding-bottom: 10px; } }
  .old-ie .home-callout-pad {
    padding-top: 30px;
    padding-bottom: 10px; }
  @media (min-width: 1400px) {
    .home-callout-pad {
      padding-top: 60px;
      padding-bottom: 40px; } }

.zoom {
  overflow: hidden;
  background-color: #513527;
  position: relative;
  margin: 0 auto 20px;
  max-width: 360px;
  border-radius: 10px;
  color: #e4e0cf;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
  .zoom img {
    transition: all 0.4s ease;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    opacity: 0.5;
    display: block;
    margin: 0;
    border-radius: 10px; }
  .zoom:hover img {
    opacity: 0.8;
    transform: scale(1.1, 1.1); }
  .zoom .right,
  .zoom .left {
    position: absolute;
    top: 10%;
    right: 0;
    padding: 10px 20px;
    color: #fff;
    z-index: 1;
    border-radius: 10px 0 0 10px; }
  .zoom .left {
    right: auto;
    left: 0;
    top: auto;
    bottom: 10%;
    border-radius: 0 10px 10px 0; }

.well a {
  color: #035348; }
  .well a:hover {
    color: #044a3c; }

.post-wrap {
  margin-bottom: 3em; }

.l-footer {
  margin: 0;
  padding: 10px 0;
  margin-top: 20px; }

@media (min-width: 690px) {
  .l-login {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; } }

.old-ie .l-login {
  width: 49.1525423729%;
  float: left;
  margin-right: 1.6949152542%; }

.well {
  background: #cecebb;
  padding: 10px;
  border-radius: 24px 0 24px 0;
  padding: 24px; }
  .well.white {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 2em;
    padding: 10px 24px 24px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: #fff url("../img/ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  z-index: 20; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 1; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 32px;
  line-height: 1;
  color: #035348;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
  z-index: 10; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    height: 10px;
    margin: 0 6px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: #e4e0cf;
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 6px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      padding: 0;
      margin: 0; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none;
        opacity: 1;
        background: #706e65; }
    .slick-dots li.slick-active button {
      background-color: #035348;
      opacity: 1; }

.social-wrap {
  margin: 0 0 30px;
  line-height: 1; }
  .social-wrap:after {
    content: "";
    display: table;
    clear: both; }

.twt,
.fb,
.in,
.yp,
.mail,
.pint {
  color: #fff;
  padding: 6px 12px 6px 6px;
  background-color: #a1b6a7;
  border-radius: 4px;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.5; }
  .twt:before,
  .fb:before,
  .in:before,
  .yp:before,
  .mail:before,
  .pint:before {
    content: "";
    background: url(../img/icons.png) top left no-repeat;
    background: url(../img/icons.svg) top left no-repeat, none;
    background-size: 400px 400px;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 0;
    margin-right: 8px; }
  .twt:hover,
  .fb:hover,
  .in:hover,
  .yp:hover,
  .mail:hover,
  .pint:hover {
    background-color: #55ACEE;
    color: #fff; }

.fb {
  background-color: #909db4; }
  .fb:hover {
    background-color: #3B5998; }
  .fb:before {
    background-position: -32px 0; }

.yp:hover {
  background-color: #C41200; }

.yp:before {
  background-position: -64px 0; }

.in:hover {
  background-color: #0077B5; }

.in:before {
  background-position: -96px 0; }

.mail {
  width: 18.3673469388%;
  float: right;
  margin-right: 0; }
  .mail:hover {
    background-color: #035348; }
  .mail:before {
    background-position: -128px 0; }

.pint:hover {
  background-color: #BD081C; }

.pint:before {
  background-position: -160px 0; }

nav {
  background: #035348;
  text-align: right;
  font-family: "adobe-garamond-pro", serif; }

/*** ESSENTIAL STYLES ***/
.sf-menu > ul, .sf-menu > ul * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu > ul li {
  position: relative; }

.sf-menu > ul ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > ul > li {
  display: inline-block;
  vertical-align: baseline; }

.sf-menu > ul li:hover > ul,
.sf-menu > ul li.sfHover > ul {
  display: block; }

.sf-menu > ul a {
  display: block;
  position: relative; }

.sf-menu > ul ul ul {
  top: 0;
  left: 100%; }

.sf-menu > ul a {
  padding: .75em 1em;
  text-decoration: none;
  zoom: 1;
  /* IE7 */
  color: #fff; }

.sf-menu > ul {
  margin: 0;
  border-radius: 0; }
  .sf-menu > ul > li {
    background-color: transparent;
    transition: background-color .3s;
    text-align: center; }
    .sf-menu > ul > li.sfHover, .sf-menu > ul > li:hover {
      background-color: #044a3c;
      /* only transition out, not in */ }
      .sf-menu > ul > li.sfHover > a, .sf-menu > ul > li:hover > a {
        transition: color .3s;
        color: #fff; }
    .sf-menu > ul > li.active-menu-item > a {
      font-weight: 700; }
    .sf-menu > ul > li > a {
      font-weight: 300;
      padding: 38px 10px;
      border-radius: 0;
      color: #fff;
      margin: 0 0;
      font-size: 15.4px; }
      @media (min-width: 767px) {
        .sf-menu > ul > li > a {
          font-size: 17.6px; } }
      @media (min-width: 985px) {
        .sf-menu > ul > li > a {
          font-size: 19.8px; } }
      @media (min-width: 1100px) {
        .sf-menu > ul > li > a {
          font-size: 22px; } }
      @media (min-width: 1400px) {
        .sf-menu > ul > li > a {
          font-size: 24.2px; } }
    .sf-menu > ul > li:last-child > ul {
      left: auto;
      right: 0; }
    .sf-menu > ul > li > ul {
      text-align: left;
      background: #044a3c;
      min-width: 12em;
      /* allow long menu items to determine submenu width */
      padding: 0; }
      .sf-menu > ul > li > ul > li {
        margin: 0; }
        .sf-menu > ul > li > ul > li.sfHover, .sf-menu > ul > li > ul > li:hover {
          background-color: #035348; }
          .sf-menu > ul > li > ul > li.sfHover > a, .sf-menu > ul > li > ul > li:hover > a {
            color: #fff; }
        .sf-menu > ul > li > ul > li > a {
          margin: 0;
          padding: 6px;
          color: #fff;
          font-size: 13.09px; }
          @media (min-width: 767px) {
            .sf-menu > ul > li > ul > li > a {
              font-size: 13.09px; } }
          @media (min-width: 985px) {
            .sf-menu > ul > li > ul > li > a {
              font-size: 16.83px; } }
          @media (min-width: 1400px) {
            .sf-menu > ul > li > ul > li > a {
              font-size: 20.57px; } }
        .sf-menu > ul > li > ul > li > ul {
          background: #044a3c;
          min-width: 12em;
          /* allow long menu items to determine submenu width */ }
          .sf-menu > ul > li > ul > li > ul > li.sfHover, .sf-menu > ul > li > ul > li > ul > li:hover {
            background: #035348; }
            .sf-menu > ul > li > ul > li > ul > li.sfHover > a, .sf-menu > ul > li > ul > li > ul > li:hover > a {
              color: #fff; }
          .sf-menu > ul > li > ul > li > ul > li > a {
            color: #fff;
            padding: 6px;
            font-size: 13.09px; }
            @media (min-width: 767px) {
              .sf-menu > ul > li > ul > li > ul > li > a {
                font-size: 13.09px; } }
            @media (min-width: 985px) {
              .sf-menu > ul > li > ul > li > ul > li > a {
                font-size: 16.83px; } }
            @media (min-width: 1400px) {
              .sf-menu > ul > li > ul > li > ul > li > a {
                font-size: 20.57px; } }
          .sf-menu > ul > li > ul > li > ul ul {
            display: none !important; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 14px; }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #fff;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: 0;
  border-color: transparent;
  border-left-color: #fff;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

.sf-arrows ul ul .sf-with-ul:after,
.sf-arrows ul ul li > .sf-with-ul:focus:after,
.sf-arrows ul ul li:hover > .sf-with-ul:after,
.sf-arrows ul ul .sfHover > .sf-with-ul:after {
  border-color: transparent; }

.sf-vertical > ul ul li {
  position: static; }

/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sf-vertical > ul {
  width: 100%;
  position: relative;
  float: none;
  margin: 4px 0 0 0;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */
  /*
  min-width: 12em;
  *width: 12em;
  */ }

.sf-vertical > ul ul {
  left: 100%;
  top: 0;
  bottom: -4px;
  height: 156px; }
  .home .sf-vertical > ul ul {
    height: 222px; }
  .sf-vertical > ul ul ul {
    margin-left: -48px; }

.sf-vertical > ul > li {
  float: none; }

.sf-vertical > ul li {
  width: 100%; }

/*** alter arrow directions ***/
.sf-vertical > ul.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-vertical > ul.sf-arrows li > .sf-with-ul:focus:after,
.sf-vertical > ul.sf-arrows li:hover > .sf-with-ul:after,
.sf-vertical > ul.sf-arrows .sfHover > .sf-with-ul:after {
  border-left-color: white; }

.open-panel {
  position: absolute;
  z-index: 100;
  top: 0.25em;
  left: 1em;
  padding: 0.4;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  color: #e4e0cf; }
  .open-panel:hover, .open-panel:focus {
    color: #e4e0cf;
    text-decoration: none; }
    .open-panel:hover svg path, .open-panel:focus svg path {
      fill: #e4e0cf; }
  .open-panel svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle; }
    .open-panel svg path {
      fill: #e4e0cf; }
  .open-panel span {
    display: inline-block;
    vertical-align: middle; }
  .open-panel #search-box {
    margin-top: 36px;
    padding: 0 10px; }

@media (min-width: 690px) {
  .open-panel,
  .close-panel,
  .open-panel-wrap {
    display: none; } }

.old-ie .open-panel, .old-ie
.close-panel, .old-ie
.open-panel-wrap {
  display: none; }

/* Display nav items vertically */
.close-panel {
  position: relative;
  margin-top: .5em;
  margin-left: 1em;
  font-size: 22px;
  text-decoration: none;
  color: #fff; }
  .close-panel:hover, .close-panel:focus {
    color: #ced4ce;
    text-decoration: none; }

/* Move nav off screen, setup transitions */
.mobile-nav {
  width: 85%;
  position: absolute;
  left: -85%;
  top: 0;
  margin-top: 0;
  height: 100%;
  display: block;
  text-align: left;
  background: #035348;
  padding: 0 20px; }
  @media (min-width: 690px) {
    .mobile-nav {
      display: none; } }
  .old-ie .mobile-nav {
    display: none; }

.top {
  text-align: right;
  padding: 10px; }

.openNav .open-panel {
  visibility: hidden; }

.openNav .open-panel-wrap {
  opacity: 0.5; }

.openNav .off-canvas-wrap {
  left: 0;
  transform: translate3d(85%, 0, 0);
  transition: transform 300ms ease; }

.openNav .off-canvas-content-wrap {
  opacity: 0.6; }

/* When the panel is closed, transition the page back to the left */
.off-canvas-wrap {
  left: 0;
  transition: transform 200ms ease; }

.mobile-masthead {
  background: #035348; }

.sf-menu {
  display: none; }
  @media (min-width: 690px) {
    .sf-menu {
      display: block; } }
  .old-ie .sf-menu {
    display: block; }

.mobile-nav > ul {
  background: none transparent;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; }
  .mobile-nav > ul ul {
    display: none;
    margin: 0;
    padding: 0; }
  .mobile-nav > ul li {
    display: block; }
    .mobile-nav > ul li a {
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 8px 10px;
      border-bottom: 0px solid rgba(0, 0, 0, 0.1);
      border-top: 0px solid rgba(255, 255, 255, 0.3); }
    .mobile-nav > ul li li a {
      font-size: 18px;
      padding: 4px 10px 4px 30px; }
    .mobile-nav > ul li li li a {
      padding: 4px 10px 4px 60px; }
    .mobile-nav > ul li.has-child > a:after {
      content: "";
      display: block;
      float: right;
      color: #e4e0cf;
      margin: 4px 0 0 0;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #fff; }
    .mobile-nav > ul li.has-child.down > a:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff; }
    .mobile-nav > ul li.has-child a.open-subs {
      color: #e8e5d6; }

.mobile-nav .nav-append {
  padding: 30px 10px; }
  .mobile-nav .nav-append .lang {
    margin: 0 0 20px 0;
    display: block; }

.thumbnails {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  max-width: 1000px; }
  .thumbnails li {
    display: inline-block;
    margin: 0 1% 20px 0;
    max-width: 40%; }
    @media (min-width: 690px) {
      .thumbnails li {
        max-width: 15%; } }
    .old-ie .thumbnails li {
      max-width: 15%; }
    .thumbnails li a {
      display: block;
      opacity: 0.8; }
      .thumbnails li a:hover {
        opacity: 1.0; }

.team {
  list-style: none;
  margin: 1em 0;
  padding: 0; }
  .team:after {
    content: "";
    display: table;
    clear: both; }
  .team .frontendadmin_edit {
    clear: both;
    display: block !important;
    text-align: center; }
    .team .frontendadmin_edit:after {
      content: " ^^"; }

.pagination {
  margin: 1em 0;
  padding: 0;
  list-style: none; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      display: block;
      padding: 0 10px; }
      .pagination li a:hover {
        text-decoration: none;
        color: #035348; }
    .pagination li.disabled a {
      cursor: default;
      color: #918f84; }
      .pagination li.disabled a:hover {
        color: #918f84; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("../img/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url(../img/ui.totop.png) no-repeat left top; }

#toTopHover {
  background: url(../img/ui.totop.png) no-repeat left -51px;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

#toTop:active, #toTop:focus {
  outline: none; }
