$mobile-nav-bg: $primary-color;
$mobile-nav-padding: 0 20px;
$mobile-nav-font-size: 22px;
$mobile-nav-text-color: #fff;
$mobile-nav-link-padding: 8px 10px;
$mobile-nav-link-border-bottom: 0px solid rgba(0,0,0,0.1);
$mobile-nav-link-border-top: 0px solid rgba(255,255,255,0.3);
$mobile-nav-arrow-color: $tint;

$mobile-nav-close-link-color: #fff;
$mobile-nav-menu-button-font-size: 18px;
$mobile-nav-menu-button-text-color: $tint;
$mobile-nav-menu-button-border-radius: 4px;
$mobile-nav-menu-button-icon-color: $mobile-nav-menu-button-text-color;

.open-panel{
  position: absolute;
  z-index: 100;
  top:0.25em;
  left: 1em;
  padding:0.4;
  margin:10px 0;
  text-transform: uppercase;
  font-size:$mobile-nav-menu-button-font-size;
  border-radius: $mobile-nav-menu-button-border-radius;
  text-decoration: none;
  line-height: 1;
  color: $mobile-nav-menu-button-text-color;
  &:hover,
  &:focus{
      color: tint($mobile-nav-menu-button-text-color, 20%);
      text-decoration: none;
      svg path{
        fill: tint($mobile-nav-menu-button-text-color, 20%);
      }
  }
  svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align:middle;
    path{
      fill: $mobile-nav-menu-button-icon-color;
    }
  }
  span{
    display:inline-block;
    vertical-align:middle;
  }
  #search-box{
    margin-top: 36px;
    padding: 0 10px;
  }
}
.open-panel,
.close-panel,
.open-panel-wrap{
  @include breakpoint($above-stacked, '.old-ie'){
      display:none;
  }
}
/* Display nav items vertically */
.close-panel {
  position: relative;
  margin-top: .5em;
  margin-left: 1em;
  font-size: 22px;
  text-decoration: none;
  color: $mobile-nav-close-link-color;
  &:hover,
  &:focus{
    color: shade($mobile-nav-close-link-color, 20%);
    text-decoration: none;
  }
}

/* Move nav off screen, setup transitions */
.mobile-nav {
  width: 85%;
  position: absolute;
  left: -85%;
  top: 0;
  margin-top:0;
  height: 100%;
  display: block;
  text-align: left;
  background: $mobile-nav-bg;
  padding: $mobile-nav-padding;
  @include breakpoint($above-stacked, '.old-ie'){
    display:none;
  }
}

.top{
  text-align: right;
  padding:10px;
}
.openNav {
    .open-panel{visibility:hidden ;}
    .open-panel-wrap{opacity: 0.5;}
    .off-canvas-wrap {
        left: 0;
        -webkit-transform: translate3d(85%, 0, 0);
        -moz-transform: translate3d(85%, 0, 0);
        -ms-transform: translate3d(85%, 0, 0);
        -o-transform: translate3d(85%, 0, 0);
        transform: translate3d(85%, 0, 0);
        -webkit-transition: -webkit-transform 300ms ease;
        -moz-transition: -moz-transform 300ms ease;
        -o-transition: -o-transform 300ms ease;
        transition: transform 300ms ease;
    }
    .off-canvas-content-wrap{
        opacity:0.6;
    }
}

/* When the panel is closed, transition the page back to the left */
.off-canvas-wrap {
  left: 0;
  // -webkit-transform: translate3d(0, 0, 0);
  // -moz-transform: translate3d(0, 0, 0);
  // -ms-transform: translate3d(0, 0, 0);
  // -o-transform: translate3d(0, 0, 0);
  // transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  transition: transform 200ms ease;
}


.mobile-masthead{
  background: $mobile-nav-bg;
}



// off-canvas styling
//show and hide the menus

.sf-menu{
    display:none;
    @include breakpoint($above-stacked, '.old-ie'){display: block;}
}

.mobile-nav > ul{
    background:none transparent;
    font-size: $mobile-nav-font-size;
    font-weight:300;
    //border-top:1px solid rgba(0,0,0,0.1);
    //border-bottom:1px solid rgba(255,255,255,0.3);
    margin: 0;
    padding:0;
    list-style:none;
    text-align: left;
    //&:last-child{ border-bottom:1px solid rgba(255,255,255,0.3);}
    ul{
        display:none;
        margin:0;
        padding:0;
    }
    li{
        display:block;
        a{
            display:block;
            color: $mobile-nav-text-color;
            text-decoration: none;
            font-size:$mobile-nav-menu-button-font-size;
            padding: $mobile-nav-link-padding;
            border-bottom: $mobile-nav-link-border-bottom;
            border-top: $mobile-nav-link-border-top;
        }
        li{
            a{
                font-size:18px;
                padding:4px 10px 4px 30px;
            }
            li a{
                padding:4px 10px 4px 60px;
            }
        }
        &.has-child{
          > a:after{
            content: "";
            display:block;
            float:right;
            color:$mobile-nav-arrow-color;
            margin:4px 0 0 0;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #fff;
          }
          &.down > a:after{
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
          }

          a.open-subs{
              color: tint($mobile-nav-text-color, 85%);
          }
        }
    }
}

.mobile-nav{
  .nav-append{
    padding: 30px 10px;
    .lang{
      margin: 0 0 20px 0;
      display: block;
    }
  }
}