table.calendar{
	width:100%;
	font-size: 14px;
	border:1px solid $primary-color;
	tr{
		font-weight: normal;

		&.daysofweek{
			td{
				font-weight: bold;
				height:auto;
				background:$primary-color;
				color:#fff;
				text-align: center;
				border:0 none;
			}
		}
		td{
			padding:4px;
			height:80px;
			vertical-align: top;
			width:14.2857143%;
			border:1px solid lighten($text-color, 40%);
			background:#fff;
		}
	}
	.header{
		text-align: right;
	}
	.daycell{
		text-align: left;
	}
	.eventcell a{
		.starttime{
			font-weight: normal;
			color: $text-color;
		}
	}
	.eventdesc{
		display:block;
	}
}

a.cal-arrow,
.eventcell a{
	border-radius: 3px;
	background:#eee;
	background: rgba(0,0,0,0.05);
	padding:0 5px;
	margin:0 0 4px 0;
	display: inline-block;
	vertical-align: middle;
	font-weight:bold;
	color: $primary-color;
	&:hover{
		background: rgba(255,255,255,0.7);
		text-decoration: none;
		color: lighten($primary-color, 15%);
	}
}
a.cal-arrow{font-weight:inherit;}
/*--- homepage dates------*/
.date{
	background:$primary-color;
	width:80%;
	padding:2px;
	float:left;
	margin:0 10px 20px 0;
}
.month{
	background: #fff;
	font-size:10px;
	line-height: 14px;
	text-transform: uppercase;
	color:$primary-color;
	font-weight: bold;
	text-align: center;
	display: block;
}
.day{
	color:#fff;
	font-size:18px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	display: block;
}
.agenda_title{
	margin-top:0;
}
/*---- calendar event page styles ----*/
.agenda_container{clear:both;}
.agenda_container .event_details{
	float:left;
	width:550px;
}
.event_details{
	h1{
		margin-top:0;
	}
}
.agenda_container .date{
	width:50px;
	padding:4px;
	float:left;
	margin:0 10px 36px 0;
}
.agenda_container .date .month{
	background: #fff;
	font-size:14px;
	line-height: 18px;
	}
.agenda_container .date .day{
	font-size:36px;
	line-height: 48px;
	}
.agenda_container h2{
	margin:0 0 18px 0;
}
.sm-event-list{
	padding-top:66px;
}
.sidebar-date{
	@include breakpoint($above-stacked, '.old-ie'){
    	@include span(2);
  	}
}
.sidebar-date-title{
	@include breakpoint($above-stacked, '.old-ie'){
    	@include span(10 last);
  	}
}

.event-page{
	.date{
		width:100%;
		height:auto;
		.month{
			font-size:18px;
			line-height: 18px;
			padding: 4px;
			margin-bottom:6px;
		}
		.day{
			font-size:72px;
			line-height: 72px;
		}
	}
}

.event-page__cal-wrap{
	@include breakpoint($above-stacked, '.old-ie'){
    	@include span(2);
  	}
}
.event-page__title-wrap{
	@include breakpoint($above-stacked, '.old-ie'){
    	@include span(10 last);
  	}
}
