.thumbnails{
	list-style:none;
	margin: 1em 0;
	padding:0;
	max-width: 1000px;
	li{
		display:inline-block;
		margin: 0 1% 20px 0;
		max-width: 40%;
		@include breakpoint($above-stacked, '.old-ie'){
			max-width: 15%;
		}
		a{
			display:block;
			opacity: 0.8;
			&:hover{
				opacity: 1.0;
			}
		}
	}
}

.team{
	list-style:none;
	margin: 1em 0;
	padding:0;
	@include clearfix();
	li{

	}
	.frontendadmin_edit{
		clear:both;
		display:block !important;
		text-align: center;
		&:after{
			content: " ^^";
		}
	}
}