.well{
  background: $well-bg;
  padding: $well-padding;
  border-radius: 24px 0 24px 0;
  padding: 24px;
  &.white{
  	background: #fff;
  	background: rgba(255,255,255,0.5);
  	margin-bottom: 2em;
  	padding: 10px 24px 24px;
  }
}