{% extends "base.html" %}

{% block main-content-wrap %}
<section class="l-main main-subpage-content-area">
  <div class="l-container">
  	<h1>{% page "title" %}</h1>
<p class="post_dateline">
    {% if page.published %}{{ page.published|date:"jS F Y" }}{% else %}Not published yet{% endif %}
</p>
    <div class="main l-two-thirds">


    {% if page.content.audio %}
        <audio controls>
            <source src="{{ page.content.audio.url }}" type='audio/mpeg; codecs="mp3"'>
        </audio>
        <p><small><a href="{{ page.content.audio.url }}">Download MP3</a></small></p>
    {% endif %}
    
    {% if page.content.youtube %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.content.youtube|striptags }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    
    
<div>
{% page "content" type="wysiwyg" %}
</div>

    {% if editing %}
    <div class="well">
        <p><small>Audio MP3 file:</small> <br>
        <span>{% page "audio" type="file" placeholder="upload audio here" %}</span></p>
        
        <p><small>Youtube video ID:</small> <br>
        <span>{% page "youtube" type="text" %}</span></p>
    </div>
    {% endif %}
    

    </div>
  </div>
</section>
{% endblock %}