<!doctype html>
<!--[if lte IE 8 ]><html class="old-ie" dir="ltr" lang="{{ LANGUAGE_CODE }}"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html dir="ltr" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <title>{% if page.content.title %}{{ page.content.title }}:{% endif %} {{ site.name }}</title>
    {% block meta %}
    <meta name="author" content="{{ site.name }}">
    <meta name="msapplication-TileColor" content="#3b854e"/>
    <meta name="description" content="{{ page.content.content|striptags|truncatechars:200 }}">
    <link href="/static/icons/favicon.ico" rel=icon type="image/x-icon">
    <link href="/static/icons/favicon.png" rel=icon type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/static/icons/apple-touch-icon.png">


    <!-- Facebook, LinkedIn, and Google Plus meta tags -->
    <meta property="og:image" content="{% if page.content.feature_image %}{% imgix_url page.content.feature_image  %}?w=1200&h=627&fit=crop{% else %}//{{ site.domain }}/static/img/social-hero.jpg{% endif %}"/>
    <meta property="og:title" content="{% if page.content.title %}{{ page.content.title }}:{% endif %} {{ site.name }}"/>
    <meta property="og:description" content="{{ page.content.content|striptags|truncatewords:60 }}"/>
    <meta property="og:url" content="//{{ site.domain }}/{{ post.path }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="//{{ site.domain }}/{{ page.path }}">
    <meta name="twitter:title" content="{% if page.content.title %}{{ page.content.title }}:{% endif %} {{ site.name }}">
    <meta name="twitter:description" content="{{ page.content.content|striptags|truncatechars:200 }}">

    <meta name="twitter:image:src" content="{% if page.content.feature_image %}{% imgix_url page.content.feature_image  %}?w=1200&amp;h=627&amp;fit=crop{% else %}//{{ site.domain }}/static/img/social-hero.jpg{% endif %}">

    <meta name="twitter:site" content="//{{ site.domain }}">
    <meta name="twitter:creator" content="@summithumane">

    <!--canonical URLs -->
    <link rel="canonical" href="{{ page.get_absolute_url }}" />


    {% endblock meta %}
    <script src="https://use.typekit.net/xop3ffd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/static/css/styles.css?cacheBust1017" type="text/css" />
    <script src="/static/js/min/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXKpOOn5vXNcSdNVuVy0SHOB5YD2nAPLQ"></script>

</head>
<body class="{% block bodyclass %}{% endblock %}">
  <div class="off-canvas-wrap">
    <div class="mobile-masthead">
      <a class="open-panel" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve"><path d="M34 6H2C0.9 6 0 5.1 0 4l0-2c0-1.1 0.9-2 2-2l32 0c1.1 0 2 0.9 2 2v2C36 5.1 35.1 6 34 6z"/><path d="M34 16H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 15.1 35.1 16 34 16z"/><path d="M34 26H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 25.1 35.1 26 34 26z"/><path d="M34 36H2c-1.1 0-2-0.9-2-2l0-2c0-1.1 0.9-2 2-2h32c1.1 0 2 0.9 2 2v2C36 35.1 35.1 36 34 36z"/></svg> <span>Menu</span></a>
      <a href="/" class="mobile-logo"><img width="100%" src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png'"></a>
    </div>
    <nav class="mobile-nav">
      <div class="top"><a href="#" class="close-panel">&times;</a></div>
    </nav>
    <div class="off-canvas-content-wrap">
      <header class="l-header">
        <div class="l-container no-pad pos-rel">
          {% block carousel %}
          {% endblock carousel %}
        </div>
        <nav class="sf-wrap">
          <div class="l-container no-pad">
            <div class="l-nav-wrap sf-menu">
              <a href="/" class="main-logo"><img width="100%" src="/static/img/logo.svg" onerror="this.src='/static/img/logo.png'"></a>
              {% menu "Navigation" %}
              <ul class="nav" id="menu-main-nav">
                {% for item in tree %}
                  <li id="menu-item-{{ item.name|slugify }}" class="{{ item.trail_class }}">
                    <a class="{{ item.current_class }}" href="{{ item.url }}">{{ item.name }}</a>
                      {% if item.children %}
                      <ul>
                          {% for citem in item.children %}
                          <li class="{{ item.trail_class }}"><a class="{{ item.current_class }}" href="{{ citem.url }}">{{ citem.name }}</a></li>
                          {% endfor %}
                      </ul>
                      {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {% block undernav %}
      <section class="sub-mast">
          <div class="l-container no-pad">
            {% page "masthead_img" type=img %}
            {% if page.content.masthead_img %}
            <img src="{{ page.content.masthead_img.url }}?width=1400&height:200" />
            {% endif %}
          </div>
      </section>
      {% endblock undernav %}




{% block main-content-wrap %}
<section class="l-main main-subpage-content-area">
  <div class="l-container">
    <div class="main l-two-thirds">
      {% block content %}
      <h1 class="subpage-head">{% page "title" type="text" placeholder="Insert main page headline here" %}</h1>
      {% page "Content" type="wysiwyg" placeholder="Insert Content here" %}
      {% endblock content %}

      <ul class="thumbnails">
      {% page_list "photos" %}
      {% list_item "gallery_img" type="img" %}
      {% list_item "title" type="text" noprint="true" %}
        <li>
          <a class="fancybox" data-fancybox rel="fancied" href="{% imgix_url list_item.gallery_img %}?w=1000" title="{{ list_item.title }}">
            <img src="{% imgix_url list_item.gallery_img %}?w=250&h=250&fit=crop" />
          </a>
        </li>
      {% end_list %}
      </ul>
    </div>

    <aside class="l-one-third l-last">

      {% if page.content.main_content_img or editing %}
      {% page "main_content_img" type="img" %}
      <img
        class=""
        src="{% if page.content.main_content_img %}{{ page.content.main_content_img.url }}{% elif user.is_authenticated %}https://placem.at/places{% endif %}?w=600&h=400" data-srv-name="main_content_img"
      />
      <p><br></p>
      {% endif %}
      {% block sidebar %}
        <div class="well">

                {% children as "posts" parent="messages" limit=1 %}
                {% for post in posts %}
                <h5 style="margin-top:0;"><a href="/{{ post.path }}">{{ post.content.title }}</a></h2>
                {% if post.content.vimeo_id %}
                <iframe src="https://player.vimeo.com/video/{{ post.content.vimeo_id }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {% endif %}
                {% endfor %}

                <p><a href="/messages">See older messages</a></p>

                <p><br></p>
                {% chunk "sidebar" %}

        </div>

        <div class="small"><br><br>
        <script type="text/javascript" language="JavaScript" src="https://www.biblegateway.com/votd/votd.write.callback.js">
        </script>
        <script type="text/javascript" language="JavaScript" src="https://www.biblegateway.com/votd/get?format=json&version=NIV&callback=BG.votdWriteCallback">
        </script>
        <!-- alternative for no javascript -->
        <noscript>
        <iframe framespacing="0" frameborder="no" src="https://www.biblegateway.com/votd/get?format=html&version=NIV">View Verse of the Day</iframe>
        </noscript>
        </div>


      {% endblock sidebar %}
    </aside>
  </div>
</section>

{% endblock main-content-wrap %}
        <div class="l-container">
          <hr />
          {% chunk "footer-text" %}
        </div>
        <div id="map" class="map" style="height:400px;width:100%;border-top: 2px solid #035348"></div>
    </div><!--/.off-canvas-content-wrap -->
  </div><!-- /.off-canvas-wrap - wrapper for everything -->
    {% block scripts %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12878330-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="/static/js/min/scripts-min.js"></script>
    {% endblock %}
    <!--
                           KK  Lll.  LLLL
    .KKKKKKKK.            KK .L.  ..L.. .
              ..K       KK  L..   LL
                K.   KK.   L.   .LL.
              KK. KK      ..    LL.   l
            KK.KK.        L.   LL    l
         KK..K..         .LL l.LL  l
       KK.  .K.   eee.   LL.   LL.
     KK.     .K. ee.. .L...    L.
               K eeee..   LLL..L  Lllyyyy.
                                        .Y.
    Site by                              .Y
    KellyCreativeTech.com                 y
                                         Y.
                                        .y
                                       .y
                                      .Y
                                     y              -->

  </body>
</html>
